header{
    background-color: #d5d5d5;
    color: #ffffff;
    padding: 10px;
    width: 100%;

    & h1 {
        margin: 0;
        color: #222222;
        font-family: "Oswald", sans-serif;
    }

    

    & nav {
        display: flex;
        margin: 0;
        padding: 0;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        justify-content: center;
        

        & ul {
            display: flex;
            width: auto;
            list-style: none;
            padding-left: 0;
            

            & li {
                padding: 0 4rem;
                

                & a {
                    text-decoration: none;
                    color: #222222;
                    background-color: #ee5f5f;
                    padding: 0.6rem;
                    border-radius: 10px;
                    font-family: "Oswald", sans-serif;
                    

                    &:hover{
                        background-color: #ff7f7f;
                    }
                }

                &:hover {
                    transform: scale(1.2);
                    transition: transform 0.2s ease;
                }
            }
        }

    }
}