.home {
    padding: 20px;
    
}

h1, h2, p {
    color: #bcb2b2;
    font-family: "Oswald", sans-serif;
}

.services {
    display: flex;
    justify-content: space-between;
    
}

.services-classes, .services-2, .services-3 {
    border: 2px solid #ee5f5f;
    border-radius: 20px;
    padding: 1rem;
    padding-top: 0;
    display: inline-block;
    width: auto;
    

    p {
        font-family: "Oswald", sans-serif;
        width: auto;
        max-width: 500px;
    }

    img {
        width: auto;
        height: 300px;
        
    }
}

.services-classes {
    width: 30%;
}

.services-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    gap: 10rem;

    &__guitar-prices, &__piano-prices, &__bateria-prices {
        background-color: #e2e2e2;
        border: 2px solid #ee5f5f;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;

        & p{
            color: #222222;
        }
    }
}

footer {
    color: #bcb2b2;
    bottom: 0;
    font-family: "Oswald", sans-serif;
}