@import "header";
@import "home";
@import "modal";

body {
  background-color: #222222;
  margin: 0 auto;
  overflow-x: hidden;
}

table {
  border: 1px solid #ccc;
  color: #ccc;
  font-family: "Oswald", sans-serif;
  border-radius: 20px; 
}